[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
autopep8 = "*"
pylint = "*"
"flake8" = "*"
yapf = "*"

[requires]
python_version = "3.7"

[packages]
colorlog = "*"
tweepy = "*"
"discord.py" = {ref = "rewrite",git = "https://github.com/Rapptz/discord.py"}
