[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
pylint = "*"
"flake8" = "*"
yapf = "*"

[requires]
python_version = "3.8"

[packages]
colorlog = "*"
tweepy = "*"
discord-py = "*"
